body {
  background: #333;
  color: #fff;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', 'Arial', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.stats {
  list-style: none;
  padding: 0;
}

.stats li {
  border: 1px solid #555;
  display: inline-block;
  min-width: 15%;
  padding: 5px 10px;
}